@charset "utf-8";
h2 {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 7rem;
}
.line {
    position: relative;
    width: 2rem;
    height: 0.15rem;
    background: #3f3948;
    margin: 0.5rem auto 0;
}

article {
    width: 100%;
}
.notice {
    position: relative;
    top: 3rem;
}
.notice li {
    border-top: 1px solid #b5b5b5;
    padding: 0.9rem;
}
.notice li:last-child {
    border-bottom: 1px solid #b5b5b5;
}
.notice li a {
    display: block;
    font-size: 0.95rem;
    font-weight: bold;
}
.span1 {
    color: #ca2723;
    padding-right: 0.3rem;
}
.span2 {
    color:#5a5858;
    font-size: 0.8rem;
}

.sel {
    width: 100%;
}
select {
    position: relative;
    top: 4rem;
    left: 1rem;
    padding: 0.1rem 1.25rem 0.1rem 0;
    margin-right: 0.3rem;
    outline: none;
}

.a_list {
    width: 100%;
}
.a_list ul {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 6rem;
}
.a_list ul li {
    margin: 0 0.5rem;
}
.a_list ul li:first-child {
    font-weight: bold;
}