@charset "utf-8";
.second {
    width: 100%;
    height: 100%;
}
.second_in {
    width: 100%;
    padding-top: 3rem;
}
.second_in img {
    width: 100%;
}
.second_in ul {
    width: 90%;
    margin: 1rem auto;
}
.sub_sale li {
    font-size: 1.1rem;
}
.sub_sale li:nth-child(2) {
    margin-bottom: 0.3rem;
}
.sub_sale li:nth-child(3),
.sub_sale li:nth-child(4) {
    display: inline-block;
}
.sub_sale del {
    color: #b5b5b5;
    margin-right: 0.6rem;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
}
.mp {
    width: 1.5rem;
    height: 1.5rem;
}
.mpbox {
    width: 2rem;
    height: 1.5rem;
    text-align: center;
}
.total {
    text-align: right;
    font-weight: bold;
    font-size: 1.1rem;
    margin-top: 0.3rem;
}
.total li {
    display: inline-block;
}
.total_line input {
    border: none;
    margin-top: -0.25rem;
    font-weight: bold;
    font-size: 1.1rem;
}
.deliver {
    font-size: 0.8rem;
    padding: 1rem 0;
}
.deliver span {
    font-weight: bold;
    margin-right: 0.3rem;
}
.detail {
    text-align: center;
    padding-bottom: 5rem;
}
.detail ul {
    display: flex;
    justify-content: center;
}
.detail li {
    width: 100%;
    height: 2.5rem;
    line-height: 2.5;
    border: 1px solid #ca2723;
}
.detail li:nth-child(2), .detail li:last-child {
    border-left: none;
}
.detail li a {
    display: block;
    color: #ca2723;transition: all 0.4s;
}
.detail li:hover a {
    background: #ca2723;
    color: #fefce9;
}
.s_image {
    width: 100%;
    
}
.s_image img {
    width: 100%;
}

.go {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9;
    background: #fff;
    height: 4rem;
}
.g_in {
    padding: 0.8rem 0;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    display: flex;
    gap: 1rem;
}
.g_in input {
    width: 50%;
    height: 2.5rem;
    font-size: 0.9rem;
    cursor: pointer;
}
.g_in input:first-child {
    border: 1px solid #ca2723;
    background: none;
    transition: all 0.4s;
}
.g_in input:first-child:hover {
    background: #ca2723;
    color: #fff;
}
.g_in input:last-child {
    border: none;
    background: #ca2723;
    color: #fff;
    transition: all 0.4s;
}
.g_in input:last-child:hover {
    background: #a00f0d;
}